@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400&family=Space+Grotesk:wght@300;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow:hidden;
}
